@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ink-black: #0a0e27;
  --mid-gray: #7d7d7d;
  --light-gray: #d3d3d3;
  --input-gray: #efefef;
  --link-blue: #5c8fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-syne);
}

body {
  background: var(--background);
  color: var(--foreground);
}
